<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <h1 class="display-4">
            <%= @keyword.capitalize %>
        </h1>
        <% if @message %>
            <h2 class= "message"><%= @message %></h2>
        <% end %>

        <p class="lead">
            <p class="light-text">According to<%= @job_qty %> related job posts...</p>
            <h4>Average salary :
            <%= @record.average_salary %> RMB/month</h4><br/>
            <% if @record.most_opportunities.size > 3 %>
                <h4>Most opportuinites:
                <% @record.most_opportunities.first(3).each do |item| %>
                    <div class="border"><%= item[0] %></div>
                <% end %>
                </h4><br/>
            <% end %>
            <% if @record.highest_paying.size > 3 %>
                <h4>Higest paying:
                <% @record.highest_paying.first(3).each do |item| %>
                    <div class="border"><%= item[0] %></div>
                <% end %>
                </h4><br/>
            <% end %>

            <h4>High Frequency English Words: 
            <% if @record.high_freq_en %>
                <% @record.high_freq_en.first(10).each do |item| %>
                    <div class="border"><%= item[0] %></div>
                <% end %>
              
            <% else %>
                Collecting data...
            <% end %>
            </h4><br/>

            <h4>High Frequency Chinese Words:
            <% if @record.high_freq_zh %>
                <% @record.high_freq_zh.first(10).each do |item| %>
                    <div class="border"><%= item[0] %></div>
                <% end %>
            <% else %>
                Collecting data...
            <% end %>
            </h4><br/>
        </p>

        <a href="\" class="btn btn-primary" title="search other jobs">Search More</a>
    </div>
</div>

<div class="chart-container">
    <div class="chart">
        <canvas id="pie-chart" width="400" height="400"></canvas>
    </div>
    <div class="chart">
        <canvas id="bar-chart" width="400" height="400"></canvas>
    </div>
</div>

<%= content_tag :div, class: "search_page" do %>
<% end %>

<%= content_tag :div, class: "bar_information", data: {id: 'bar-chart', labels: @record.highest_paying.map {|i| i[0]}.first(10), data: @record.highest_paying.map {|i| i[1]}.first(10), labelText:"Average Salary (RMB/month)",titleText:"AVERAGE SALARY PER LOCATION RANKING (RMB)" } do %>
<% end %>

<%= content_tag :div, class: "pie_information", data: {id: 'pie-chart', labels: @location_qty_percentage.map {|i| i[0]}, data: @location_qty_percentage.map {|i| i[1]}, labelText:"Job (%)", titleText:"JOB OPPORTUNITIES PER LOCATION (%)" } do %>
<% end %>