<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <h1 class="display-4">
            <%= @keyword.capitalize %>
        </h1>
        <% if @message %>
            <h2 class= "message"><%= @message %></h2>
        <% end %>

        <p class="lead">
            According to
            <%= @job_qty %> related job posts...
            <br> Average salary :
            <%= @record.average_salary %> RMB/month<br>
            <% if @record.most_opportunities.size > 3 %>
            Most opportuinites:
            <%= @record.most_opportunities[0][0] %>,
            <%= @record.most_opportunities[1][0] %>,
            <%= @record.most_opportunities[2][0] %><br>
            <% end %>
            <% if @record.highest_paying.size > 3 %>
            Higest paying:
            <%= @record.highest_paying[0][0] %>,
            <%= @record.highest_paying[1][0] %>,
            <%= @record.highest_paying[2][0] %><br>
            <% end %>

            <% if @record.hot_skills %>
                <% if @record.hot_skills.size > 5 %>
                Most-demand skills: 
                <%= @record.hot_skills[0][0] %>,
                <%= @record.hot_skills[1][0] %>,
                <%= @record.hot_skills[2][0] %>,
                <%= @record.hot_skills[3][0] %>,
                <%= @record.hot_skills[4][0] %>
                <% end %>
            <% else  %>
                Most-demand skills: Collecting data...
            <% end %>
        </p>

        <a href="\" class="btn btn-primary" title="search other jobs">Search More</a>
    </div>
</div>

<div class="chart-container">
    <div class="chart">
        <canvas id="pie-chart" width="400" height="400"></canvas>
    </div>
    <div class="chart">
        <canvas id="bar-chart" width="400" height="400"></canvas>
    </div>
</div>

<%= content_tag :div, class: "search_page" do %>
<% end %>

<%= content_tag :div, class: "bar_information", data: {id: 'bar-chart', labels: @record.highest_paying.map {|i| i[0]}.first(10), data: @record.highest_paying.map {|i| i[1]}.first(10), labelText:"Average Salary (RMB/month)",titleText:"AVERAGE SALARY PER LOCATION TOP 10 (RMB)" } do %>
<% end %>

<%= content_tag :div, class: "pie_information", data: {id: 'pie-chart', labels: @location_qty_percentage.map {|i| i[0]}, data: @location_qty_percentage.map {|i| i[1]}, labelText:"Job (%)", titleText:"JOB OPPORTUNITIES PER LOCATION (%)" } do %>
<% end %>